

.card {
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: auto;
  height: auto;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  
}

.movie_info {
  display: block;
  font-size: 0.9rem;
  color: #6c757d;
}

.float-right {
  float: right;
}


body {
  background-color: #f8f9fa;
}

h1 span {
  color: #007bff;
}

.btn-primary,
.btn-success,
.btn-warning,
.btn-danger {
  color: #fff;
}

.movie_card {
  width: 18rem;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
  width: auto;
  height: auto;
}

.card-body {
  background-color: #343a40;
  color: white;
}

.movie_info {
  color: white;
}

.movie_info.blue {
  color: #007bff;
}

/* Additional styling for forms */
form {

  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Adjust spacing for form labels */
form label {
  margin-bottom: 1.5rem;
}

/* Add margin to the buttons in the forms */
form button {
  margin-top: 10px;
}